---
import Exceriselist from '../components/exerciselist.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <header>
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
        </ul>
      </nav>
    </header>
    <main><Exceriselist>
    <Exceriselist>
        
        <div>
          <button id="knap2">D.28.01</button>
          <div id="drop2" class="dropdown_hide">
            <h3>Undrevisningsmateriale</h3>
            <ul>
              <li>
                <a href="https://javascript.info/function-basics">Functions</a>
              </li>
              <li>
                <a
                  href="assets/studiemat/U1/JavaScript 3 - functioner og parametre - PP Præsentation.pdf"
                >
                  JavaScript 3 - functioner og parametre - Video Præsentation
                </a>
              </li>
              <li>
                <a href="assets/studiemat/U1/Activity diagrams selvstudie.pdf"
                  >Activity diagrams selvstudie</a
                >
              </li>
            </ul>
            <a href="opgaver/rps/rps.html"><h3>Opgave: Rock, Paper, scissor</h3></a>
          </div>
          <div>
            <button id="knap3">D.29.01</button>
            <div id="drop3" class="dropdown_hide">
              <h3>Undrevisningsmateriale</h3>
              <ul>
                <li>
                  <a href="https://www.codecademy.com/learn/learn-the-command-line">CodeAcademy - Terminal</a>
                </li>
                <li><p>But it requires you to sign up with a credit-card. If you cancel within 7 days, it won't cost you anything though.
                  You only need to go through parts 1 and 2. That should give you a very good base understanding of the terminal!
                  
                  Otherwise, just follow the directions in this task, and learn through linked-in-learning.</p></li>
                <li>
                  <a
                    href="https://www.linkedin.com/learning/unix-for-mac-os-x-users/introduction?u=36836804"
                  >
                   Terminal video fra LinkedIN, dog er den til Mac (Jeg bruger GitBash)
                  </a>
                </li>
              </ul>
              <a href="opgaver/momsberegner/moms.html"><h3>Opgave: Momsberegner</h3></a>
            </div>
        </div>
          <div>
            <button id="knap4">D.30.01</button>
            <div id="drop4" class="dropdown_hide">
              <h3></h3>
              <ul>
                <li>
                  <a href=""></a>
                </li>
                <li><p></p></li>
                <li>
                  <a
                    href=""
                  >
                  </a>
                </li>
              </ul>
              <a href=""><h3></h3></a>
            </div>
        </div></main>
    
    <footer></footer>

</Layout>
