---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>3.Semester</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
        </ul>
      </nav>
      <h2>Uge 1</h2>
      <button id="knap1">D.27.01</button>
      <div id="drop1" class="dropdown_hide">
        <h3>Undrevisningsmateriale</h3>
        <ul>
          <li>
            <a
              href="https://kea.cloud.panopto.eu/Panopto/Pages/Viewer.aspx?id=164e69e6-16a9-46d6-af4b-b1e501059b7d"
              >JavaScript 1 - Variabler 1_6</a
            >
          </li>
          <li>
            <a
              href="https://kea.cloud.panopto.eu/Panopto/Pages/Viewer.aspx?id=3850bc2f-926e-4a8b-b055-b1ef00a854aa"
              >JavaScript 2 - Convertion</a
            >
          </li>
          <li>
            <a
              href="https://developer.mozilla.org/en-US/docs/Web/CSS/Attribute_selectors"
              >Om Attribute Selectors</a
            >
          </li>
          <li>
            <a href="https://javascript.info/variables"
              >Om Javascript Variables</a
            >
          </li>
          <li>
            <a href="https://javascript.info/types">Om JavaScript Data Types</a>
          </li>
          <li>
            <a href="http://javascript.info/type-conversions"
              >Om Type Conversions</a
            >
          </li>
          <li>
            <a href="https://javascript.info/comparison"
              >Om JavaScript Comparisons</a
            >
          </li>
        </ul>
        <a href="opgaver/rannum/index.html"><h3>Opgave: Gæt et tal</h3></a>
      </div>
      <div>
        <button id="knap2">D.28.01</button>
        <div id="drop2" class="dropdown_hide">
          <h3>Undrevisningsmateriale</h3>
          <ul>
            <li>
              <a href="https://javascript.info/function-basics">Functions</a>
            </li>
            <li>
              <a
                href="assets/studiemat/U1/JavaScript 3 - functioner og parametre - PP Præsentation.pdf"
              >
                JavaScript 3 - functioner og parametre - Video Præsentation
              </a>
            </li>
            <li>
              <a href="assets/studiemat/U1/Activity diagrams selvstudie.pdf"
                >Activity diagrams selvstudie</a
              >
            </li>
          </ul>
          <a href="opgaver/rps/rps.html"><h3>Opgave: Rock, Paper, scissor</h3></a>
        </div>
        <div>
          <button id="knap3">D.29.01</button>
          <div id="drop3" class="dropdown_hide">
            <h3>Undrevisningsmateriale</h3>
            <ul>
              <li>
                <a href="https://www.codecademy.com/learn/learn-the-command-line">CodeAcademy - Terminal</a>
              </li>
              <li><p>But it requires you to sign up with a credit-card. If you cancel within 7 days, it won't cost you anything though.
                You only need to go through parts 1 and 2. That should give you a very good base understanding of the terminal!
                
                Otherwise, just follow the directions in this task, and learn through linked-in-learning.</p></li>
              <li>
                <a
                  href="https://www.linkedin.com/learning/unix-for-mac-os-x-users/introduction?u=36836804"
                >
                 Terminal video fra LinkedIN, dog er den til Mac (Jeg bruger GitBash)
                </a>
              </li>
            </ul>
            <a href="opgaver/momsberegner/moms.html"><h3>Opgave: Momsberegner</h3></a>
          </div>
      </div>
        <div>
          <button id="knap4">D.30.01</button>
          <div id="drop4" class="dropdown_hide">
            <h3></h3>
            <ul>
              <li>
                <a href=""></a>
              </li>
              <li><p></p></li>
              <li>
                <a
                  href=""
                >
                </a>
              </li>
            </ul>
            <a href=""><h3></h3></a>
          </div>
      </div>
    </header>
    <main></main>
    <footer></footer>
    <script src="index.js"></script>
  </body>
</html>

</Layout>
