---
const { exercisedata } = Astro.props;
const { assignmentslist } = Astro.props;
import "../pages/styles/style.css";

console.log(exercisedata);
---

<section>
  <button class="knap">{exercisedata.Titel}</button>
  <div class="drop">
    <h3>Undrevisningsmateriale</h3>
  <a href=`/${exercisedata.dokumentlink}.html`>{exercisedata.dokumentlink}</a>
    <p></p>
  </div>
</section>

<script>
  // var knap = document.querySelectorAll("button");
  // var drop = document.querySelector("div");

  // knap.forEach(function toggle(open) {
  //   open.addEventListener("click", () => {
  //     if (drop.classList == "drop dropdown_hide") {
  //       drop.classList.remove("dropdown_hide");
  //       console.log("er removed");
  //     } else if (drop.classList == "drop") {
  //       drop.classList.add("dropdown_hide");
  //       console.log("er tilføjet");
  //     }
  //   });
  // });

  // knap.addEventListener("click", dropdown);

  // function dropdown() {}
</script>
